.home-img-container {
    /* display: flex;
    justify-content: center; */
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.pDiJIhyy8wdhmEF_0C-jNgHaEL%26pid%3DApi&f=1");
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    position: relative;
    height: 700px;
    right: 0;
    top: 0;
    margin-top: -120px;
    margin-left: -10px;
    z-index: -1;
}

.recent-activity {
    position: relative;
    align-content: center;
    margin-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.recent-text {
    position: relative;
    text-align: center;
    font-size: 40px;
}

.red {
    color: red
}

.view-group-home {
    display: grid;
    position: relative;
    padding-left: 75px;
    grid-template-columns: 1fr 1fr 1fr;
}

.single-group-container {
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey;
    width: 360px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* profile img/name */
.contain {
    display: inline-flex;
}

.group-profile-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 15px;
    border: 3px solid lightgray
}

.group-name {
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 10px;
    text-align: center;
}

.job-title {
    padding-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.group-images {
    display: inline;
    padding-top: 20px;
    height: 130px;
    width: 177px;
    margin-bottom: -3px;
    /* border-right: 1px solid lightgray; */

    /* padding: 15px */
}

.first {
    padding-right: 5px;
}
