.home-img-container {
    /* display: flex;
    justify-content: center; */
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.pDiJIhyy8wdhmEF_0C-jNgHaEL%26pid%3DApi&f=1");
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    position: relative;
    height: 700px;
    right: 0;
    top: 0;
    margin-top: -110px;
    margin-left: -10px;
    z-index: -1;
}

.recent-activity {
    position: relative;
    /* top: 90%; */
    /* left: 50%; */
}

.recent-text {
    position: relative;
    text-align: center;
}

.red {
    color: red
}

.view-group-home {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* left: 20%; */
}

.single-group-container {
    display: flex;
    border: 1px solid black;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .homepage-slide {
    max-width: 40%;
    height: 400px;

} */

.group-profile-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.group-images {
    display: inline;
    height: 120px;
    width: 170px;
    padding: 15px
}
