.home-img-container {
    /* display: flex;
    justify-content: center; */
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1531206715517-5c0ba140b2b8%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9%26w%3D1000%26q%3D80&f=1&nofb=1");
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    position: relative;
    height: 700px;
    right: 0;
    top: 0;
    margin-top: -124px;
    margin-left: -10px;
    z-index: -1;
}

.home-welcome {
    position: absolute;
    top: 26%;
    left: 3.5%;
    font-size: 40px;
    font-family: cursive;
    color: white
}

.recent-activity {
    position: relative;
    align-content: center;
    margin-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.recent-text {
    position: relative;
    text-align: center;
    font-size: 40px;
}

.red {
    color: goldenrod;
    font-weight: bold
}

.view-group-home {
    display: grid;
    position: relative;
    padding-left: 75px;
    grid-template-columns: 1fr 1fr 1fr;
}

.single-group-container {
    display: flex;
    justify-content: center;
    border: 1px solid goldenrod;
    box-shadow: goldenrod 1px 0 10px;
    width: 360px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* profile img/name */
.contain {
    display: inline-flex;
}

.group-profile-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 15px;
    border: 3px solid lightgray
}

.group-name {
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 10px;
    text-align: center;
}

.home-page-star-avg {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.star-avg-length {
    padding-left: 2px;
}

.job-title {
    padding-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: goldenrod;
}

.group-images {
    display: inline;
    padding-top: 20px;
    height: 130px;
    width: 177px;
    margin-bottom: -3px;
    /* border-right: 1px solid lightgray; */

    /* padding: 15px */
}

.first {
    padding-right: 5px;
}
