.new-review-form {
    position: relative;
    background-color: whitesmoke;
    width: 350px;
    height: 420px;
    border-radius: 10%;
    text-align: center;
}

.review-form-header {
    padding-top: 40px;
}

.create-review-btn {
    background-color: navy;
    border: none;
    height: 50px;
    width: 130px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
