.delete-modal {
    position: relative;
    background-color: whitesmoke;
    width: 250px;
    height: 150px;
    border-radius: 10%;
    text-align: center;
}

.delete-msg {
    padding-top: 20px;
}

.delete-btn {
    background-color: transparent;
    border: 2px solid red;
    height: 35px;
    width: 105px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
