.one-group-container {
    border: 1px solid lightgrey
}

.one-group-header-container {
    display: flex;
    padding-top: 40px;
    padding-left: 30px;
}

.single-group-profile-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid lightgrey;
}

.single-group-name-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    width: 800px;
}

.single-group-name {
    font-size: 65px;
}

.single-group-rating {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}

/* total rating display text */
.total-rating {
    display: inline-flex;
    font-size: 20px;
    padding-left: 5px;
}

.one-group-btns {
    margin-top: -50px;
    /* margin-left: 50px; */
}

.edit-delete-btns {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}

.single-group-text {
    font-size: 20px;
    padding-bottom: 10px;
}

.single-group-title {
    margin-top: 50px;
}


.single-group-aboutUs {
    margin-bottom: 50px;
}

.single-group-images-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.single-group-images {
    height: 250px;
    width: 465px;
}



/* reviews */
.single-review-container {
    display: block;
    border: 1px solid lightgray;
    margin-top: 30px;
}

.review-profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid lightgrey;
}
