.one-group-container {
    border: 1px solid black
}

.single-group-profile-img {
    border-radius: 50%;
    height: 150px;
    width: 200px;
}

.single-group-name {
    display: inline;
    position: relative;
    font-size: 100px;
    padding-top: -10px;
    margin-left: 100px;
}

.total-rating {
    display: flex;
    margin-left: 300px;
    font-size: 60px;
}

.single-group-title {
    margin-top: 50px;
    font-size: 30px;
}

.single-group-location {
    font-size: 30px;
}

.single-group-aboutUs {
    font-size: 30px;
    margin-bottom: 50px;
}

.single-group-images {
    display: inline-flex;
    align-content: space-between;
    padding: 50px;
    height: 250px;
    width: 350px;
}

/* reviews */
.single-review-container {
    border: 1px solid black;
    margin-top: 30px;
}

.review-profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
