.one-group-container {
    border: 1px solid black
}

.one-group-header-container {
    display: inline-flex;
    padding-top: 60px;
    padding-left: 30px;
}

.single-group-profile-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid lightgrey;
}

.single-group-name {
    display: inline;
    position: relative;
    font-size: 60px;
    padding-top: -10px;
    margin-left: 100px;
}

.edit-delete-btns {
    display: inline-flex;
    padding-left: 300px;
    margin-top: -60px;
}

.total-rating {
    display: flex;
    margin-left: 100px;
    font-size: 60px;
}

.single-group-text {
    font-size: 20px;
    padding-bottom: 10px;
}

.single-group-title {
    margin-top: 50px;
}


.single-group-aboutUs {
    margin-bottom: 50px;
}

.single-group-images-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.single-group-images {
    height: 250px;
    width: 465px;
}

.one-group-btns {
    display: inline-flex;
    max-width: 600px;
    justify-content: space-between;
}

/* reviews */
.single-review-container {
    border: 1px solid black;
    margin-top: 30px;
}

.review-profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid lightgrey;
}
