.edit-group-form {
    position: relative;
    background-color: whitesmoke;
    width: 450px;
    height: 620px;
    border-radius: 10%;
    text-align: center;
}

.edit-group-header {
    padding-top: 20px;
}

.edit-group-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-btn {
    background-color: navy;
    border: none;
    height: 35px;
    width: 105px;
    color: white;
    border-radius: 5px;
    margin-right: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
