.edit-group-form {
    position: relative;
    background-color: whitesmoke;
    width: 450px;
    height: 620px;
    border-radius: 10%;
    text-align: center;
}

.edit-group-header {
    padding-top: 20px;
}

.edit-group-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
