.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.session-nav {
    padding-right: 50px;
}

.logged-in-nav {
    display: flex;
    flex-direction: row;
}

.welcome-msg {
    font-size: 30px;
    font-weight: bold;
    margin-left: -80px;
    margin-right: 70px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-shadow: navy 1px 0 10px;
}

.new-group-btn {
    background-color: navy;
    border: none;
    margin-right: 40px;
    border-radius: 5px;
    padding: 10px;
}

.new-group-btn-text {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.profile-dropdown {
    position: absolute;
    right: 1.5%;
    top: 12%;
}

.log-out-btn {
    background-color: transparent;
    border: 2px solid goldenrod;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    color: goldenrod;
    font-weight: bold;
}
