.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.session-nav {
    padding-right: 50px;
    font-size: 25px;
}

.welcome-msg {
    margin-left: -100px;
    margin-right: 100px;
    color: orange
}
